<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/recipes" method="POST">
            Name: <input type="text" name="recipe[name]"> <br>
            Ingredients: <input type="text" name="recipe[ingredients]"><br>
            Cook Time: <input type="text" name="recipe[cook_time]">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
